.wizard-nav {
  text-align: center;
  display: inline-block;
  box-shadow: 0 0 15px 1px #a6a6a6;
  overflow: hidden;
  border-radius: 5px;
  /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
  /*hover/active styles*/
  /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
  /*we dont need an arrow after the last link*/
  /*we will use the :before element to show numbers*/ }
  .wizard-nav a {
    text-decoration: none;
    float: left;
    font-size: 12px;
    line-height: 36px;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 40px;
    background: #666666;
    background: linear-gradient(#666666, #333333);
    position: relative;
    font-weight: 300;
    cursor: pointer; }
  .wizard-nav a:first-child {
    padding-left: 30px;
    border-radius: 5px 0 0 5px;
    /*to match with the parent's radius*/ }
  .wizard-nav a:first-child:before {
    left: 14px; }
  .wizard-nav a:last-child {
    border-radius: 0 5px 5px 0;
    /*this was to prevent glitches on hover*/
    padding-right: 30px; }
  .wizard-nav a.active, .wizard-nav a:hover {
    background: #333333;
    background: linear-gradient(#333333, #000000); }
  .wizard-nav a.active:after, .wizard-nav a:hover:after {
    background: #333333;
    background: linear-gradient(135deg, #333333, #000000); }
  .wizard-nav a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    /*half of square's length*/
    /*same dimension as the line-height of a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
        length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
        if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666666;
    background: linear-gradient(135deg, #666666, #333333);
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
            5px - for rounded arrows and 
            50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px; }
  .wizard-nav a:last-child:after {
    content: none; }
  .wizard-nav .flat a, .wizard-nav .flat a:after, .wizard-nav .flat a:before {
    color: #000000;
    background: #f4f4f4;
    transition: all 0.2s; }
  .wizard-nav .flat a.not-started:before {
    padding-left: 10px; }
  .wizard-nav .flat a.in-progress, .wizard-nav .flat a.in-progress:after {
    background: #0078d4; }
  .wizard-nav .flat a.in-progress:hover, .wizard-nav .flat a.in-progress:hover:before, .wizard-nav .flat a.in-progress:hover:after {
    cursor: text; }
  .wizard-nav .flat a.completed:before {
    content: '\2713';
    padding-right: 5px; }
  .wizard-nav .flat a.disabled:hover, .wizard-nav .flat a.disabled:hover:before, .wizard-nav .flat a.disabled:hover:after {
    cursor: not-allowed;
    background: #f4f4f4; }
  .wizard-nav .flat a:hover, .wizard-nav .flat a:hover:before, .wizard-nav .flat a:hover:after {
    background: #0078d4; }
