.OptionButton {
  margin-right: 10px;
  padding: 5px;
  width: 100px;
  border-color: 1px solid #D7D7D7 !important;
  background-color: #EEEEEE !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .OptionButton:hover {
    border-color: #0078D7 !important; }
  .OptionButton .ms-Button-flexContainer {
    padding: 5px; }
    .OptionButton .ms-Button-flexContainer .ms-Button-icon {
      display: none; }

.is-checked {
  border-left-color: #0078D7 !important;
  border-left-width: 3px !important; }
