.header-container {
  background-color: dimgrey;
  height: 40px;
  background-color: black; }

nav {
  text-align: center; }
  nav li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    padding: 5px; }
