.summaryContainer{
    margin-left:300px;
    margin-top:200px;   
.titleStyle{
    color:$rgb-180;
    font-size: 20px;
}
.summaryPanel{
    margin-left:45px;
}
.summaryTitle{
    
    font-size: 15px;
}
}
